@import '~prismjs/themes/prism.css'

//
// Variable
// -----------------------------------------
fontSize = 14px
fontFamily = 'Source Sans Pro', 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif
monospaceFontFamily = 'Ubuntu Mono', 'PT Mono', Consolas, Monaco, Menlo, monospace
bgColor = #fff
textColor = #555
linkColor = #08c
metaColor = #888
codeBgColor = #f7f7f7
lineColor = #ddd

//
// Common
// -----------------------------------------
/::-moz-selection,
/::selection
  background #B2D7FF

body
  // font
  font-family fontFamily
  font-size fontSize
  line-height 2
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  -webkit-text-size-adjust none
  // size
  position relative
  max-width 700px
  margin 0 auto
  padding 0
  background bgColor
  color textColor

h1,
h2,
h3,
h4,
h5,
h6
  font-weight 400
  position relative

a
  text-decoration none
  color linkColor
  overflow-wrap break-word
  word-break break-all

code
  font-family monospaceFontFamily !important

img,
video,
canvas,
iframe
  max-width 100%

//
// Shared
// -----------------------------------------
.header
  margin 50px auto 40px
  text-align center

  .site-name
    font-size fontSize + 2
    letter-spacing 5px
    text-transform uppercase
    color textColor

  .navbar
    margin 10px 10px 0

  .navbar-item
    margin-right 10px
    color metaColor
    text-decoration underline

.searchbar-input
  display block
  margin 5px auto 0
  width 150px
  font-family fontFamily
  font-size fontSize
  text-align center
  line-height 1.5
  border none
  background-color bgColor
  color metaColor

  &:hover,
  &:focus,
  &:active
    outline none
    background-color darken(bgColor, 2)
    text-decoration none
    color textColor

.footer
  margin-bottom 15px
  text-align center
  color metaColor

  a
    color metaColor
    text-decoration underline

  .icon-user
    width 16px
    height 16px
    display inline-block
    background-image embedurl('./assets/user.svg', 'utf8')
    background-repeat no-repeat
    background-position center
    background-size 100%
    vertical-align sub

//
// List View
// -----------------------------------------
.list-view
  margin 0 20px

  ol,
  ul
    padding 0
    list-style none

.empty-list
  height 100px
  text-align center

.list-item
  position relative
  margin-bottom 50px

.item-title
  display inline-block
  margin-bottom 10px
  font-size fontSize + 2
  color textColor

  &:hover
    color linkColor

.item-date
  display inline-block
  font-size fontSize - 2
  color metaColor
  border-top 1px solid lineColor
  padding-top 12px

//
// Post View
// -----------------------------------------
.post-view
  position relative
  margin 0 20px 50px

  // overflow-x hidden
  a.header-anchor
    position absolute
    left -30px
    width 30px
    text-align center
    visibility hidden

  h1:hover a.header-anchor,
  h2:hover a.header-anchor,
  h3:hover a.header-anchor,
  h4:hover a.header-anchor,
  h5:hover a.header-anchor,
  h6:hover a.header-anchor
    visibility visible

  a[href]:not(.header-anchor)
    position relative

    &:hover
      border-bottom 1px dashed linkColor

    // thanks longsien/BareCSS
    // https://github.com/longsien/BareCSS/blob/v1.1.0/less/_tooltip.less
    &:after
      content attr(href)
      position absolute
      left 50%
      top 0
      visibility hidden
      pointer-events none
      transform translate(-50%, -95%)
      transition all 0.1s ease-in-out
      overflow visible
      padding 0 10px
      background #454f54
      font-size 0.8em
      border-radius 5px
      color #ffffff
      line-height 2
      white-space nowrap
      opacity 0.9

    &:hover:after
      visibility visible
      transform translate(-50%, calc(-100% - 5px))

  code
    background codeBgColor
    padding 2px 4px 0
    border-radius 5px

.post-head
  position relative

.post-title
  font-size fontSize * 2
  margin-bottom 50px
  line-height 1

.post-date
  position absolute
  right 0
  top 0
  font-size fontSize - 2
  font-weight 400
  line-height fontSize * 2
  color metaColor

// when smaller than tablet
@media (max-width: 767px)
  .post-title
    font-size fontSize * 1.5

  .post-date
    line-height fontSize * 1.5

blockquote
  margin 0
  padding 0 16px
  border-left 4px solid lineColor

table
  border-collapse collapse

td,
th
  border 1px solid lineColor
  padding 0.4em 1em

// https://github.com/vuejs/vuepress/blob/v1.0.0-alpha.37/packages/@vuepress/theme-default/styles/custom-blocks.styl
.custom-block
  .custom-block-title
    font-weight 600

  p
    line-height 1.5

  &.tip,
  &.warning,
  &.danger
    padding 0.1em 1.5em
    border-left-width 0.5em
    border-left-style solid
    margin 1em 0

  &.tip
    background-color #f3f5f7
    border-color #42b983

  &.warning
    background-color rgba(255, 229, 100, 0.3)
    border-color darken(#ffe564, 35%)
    color darken(#ffe564, 70%)

    .custom-block-title
      color darken(#ffe564, 50%)

  &.danger
    background-color #ffe6e6
    border-color darken(red, 20%)
    color darken(red, 70%)

    .custom-block-title
      color darken(red, 40%)

//
// 404 View
// -----------------------------------------
.layout-404
  margin 8em
  text-align center

//
// Override Prism
// -----------------------------------------
div[class*='language-']
  position relative
  background codeBgColor
  border-radius 5px

  .highlight-lines
    position absolute
    user-select none
    top 0
    left 0
    width 100%
    line-height 1.5
    padding 1em 0

    .highlighted
      background-color #fffbdd

  code
    padding 0
    background transparent

  pre[class*='language-']
    position relative
    color textColor
    background-color transparent
    font-family monospaceFontFamily !important

.line-numbers-mode
  .line-numbers-wrapper
    position absolute
    top 1em
    left 0.5em
    padding-right 0.5em
    min-width 1.5em
    color rgba(textColor, 0.4)
    text-align right
    line-height 1.5
    user-select none

  pre[class*='language-']
    padding-left 3.5em
